/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* -- Layout -- */
:root {
    /* Colores */
    --verde: #438987;
    --verde-claro: #648a88;
    --rojo: #bc4270;
    --negro: #080808;
    --negro-opaco: #08080899;
    --blanco: #eeeeee;

    /* Transiciones */
    --transicion-normal: 120ms;
    --transicion-lenta: 220ms;
    --transicion-imagenes: 2200ms;

    /* Tamaños de fuente */
    --fuente-normal: 1.75rem;
}

/* Este codigo se encarga de que no haya desbordamientos cuando se utiliza desde un telefono */
/* --- */
html,
body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* --- */

html {
    font-size: 62.5%;
    background-color: var(--negro);
    color: var(--blanco);
}

body {
    margin: 0 auto;
    padding-inline: 1rem;
}

h1 {
    line-height: 3.75rem;
    margin-bottom: 1.25rem;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 0 0 5px var(--negro);
}

p {
    font-size: 1.35rem;
    font-weight: 600;
}

/* Icono de wpp */
.icono_whatsapp {
    display: none;
}

.icono_whatsapp img {
    width: 100%;
}

/* Navegacion */
.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 13rem;
    max-width: 128rem;
    margin: 0 auto;
}

.navegacion .boton_de_navegacion {
    display: none;
    color: transparent;
    margin-bottom: 2rem;
}

.navegacion > a {
    transition: all var(--transicion-normal);
}

.navegacion > a img {
    max-width: 12rem;
    padding-block: 2rem;
}

.navegacion ul {
    display: flex;
    column-gap: 4rem;
}

.navegacion ul li a {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    transition: all var(--transicion-normal);
}

.navegacion ul li img {
    width: 3rem;
}

.navegacion ul li a {
    font-size: var(--fuente-normal);
}

/* Navegacion hovers */
.navegacion > a:hover {
    transform: scale(1.05);
}

.navegacion ul li a:hover {
    color: var(--rojo);
}

/* Mobile */
@media (max-width: 56rem) {
    .navegacion {
        flex-direction: row;
        margin-inline: 2.2rem;
        height: 10rem;
    }

    .navegacion > a img {
        width: 8rem;
    }

    .navegacion .boton_de_navegacion {
        position: relative;
        display: block;
        z-index: 20000;
    }

    .navegacion .boton_de_navegacion .bar {
        display: block;
        margin-block: 1rem;

        width: 4rem;
        height: 0.3rem;

        background-color: var(--verde);
        transition: all var(--transicion-lenta);
    }

    .navegacion .boton_de_navegacion.cerrar .bar:nth-child(2) {
        transform: translateY(1.3rem) rotate(45deg);
        background-color: var(--blanco);
    }

    .navegacion .boton_de_navegacion.cerrar .bar:nth-child(3) {
        transform: translatex(10rem);
    }

    .navegacion .boton_de_navegacion.cerrar .bar:nth-child(4) {
        transform: translateY(-1.3rem) rotate(-45deg);
        background-color: var(--blanco);
    }

    .navegacion ul {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10000;

        background-color: var(--rojo);
        padding: 20rem 5rem 0;
        min-height: 100vh;

        flex-direction: column;
        row-gap: 5rem;

        transition: all ease-out var(--transicion-lenta);
        transform: translateX(22rem);
    }

    .navegacion ul li a:hover {
        color: inherit;
    }

    .navegacion ul.visible {
        transform: translateX(0);
    }
}

/* Pantalla de inicio */
.inicio {
    position: relative;
    height: calc(100vh - 10rem);
    min-height: 55rem;
    width: 100vw;

    padding-inline: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-left: -1rem;
    /* border-block: 1px solid var(--blanco); */
}

.inicio .inicio_texto {
    margin-top: -6rem;
    display: flex;
    max-width: 128rem;
    flex-direction: column;
    gap: 1.15rem;
    position: relative;
    z-index: 450;
}

.inicio .inicio_texto h1 span {
    color: var(--rojo);
}

.inicio .inicio_texto p {
    text-shadow: 0 0 5px var(--negro);
}

.inicio .inicio_texto .redireccion_en_inicio {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-left: 4px solid var(--blanco);
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

.inicio .inicio_texto .redireccion_en_inicio a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 4rem;
    background-color: var(--verde);
    border-radius: 0.5rem;
    width: fit-content;
    white-space: nowrap;
    transition: all var(--transicion-lenta);
}

/* Fondos */

.inicio .difuminado-negro {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-shadow: 0 0 75px 120px var(--negro);
    background-color: var(--negro);
}

.inicio .bg {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
    transition: opacity var(--transicion-imagenes) ease-in;
}

.inicio .bg.ocultar {
    opacity: 0;
}

/* desktop */

/* Contenido principal - main */
.contenido_principal {
    margin-top: 5rem;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    padding: 2rem;
}

.contenido_principal span > img {
    margin-left: 4rem;
    margin-right: 0.25rem;
}

.margen-top {
    margin-top: 10rem;
}

.contenido_principal .contenedor_banner {
    position: absolute;
    left: 0;
    width: 100vw;
    padding-block: 0.75rem;
    border-top: 1px solid var(--rojo);
    border-bottom: 1px solid var(--verde);
}

.contenido_principal .banner {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    width: max-content;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--negro);
    animation: banner 15s linear infinite;
}

.contenido_principal .banner img {
    width: 3rem;
}

/* Clases */
.contenido_principal .clases {
    text-align: center;
    margin-top: 15rem;
}

.contenido_principal .clases img {
    position: relative;
    width: 20rem;
    background-color: #ffffffb0;
    border-radius: 50%;
    z-index: 200;
    transition: all var(--transicion-lenta);
}

.contenido_principal .clases h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
    animation: neon 6s ease-in-out infinite;
    text-shadow: 0 8px 5px var(--rojo);
}

.contenido_principal .clases .contenedor_clases {
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido_principal .clases .clase {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    padding-block: 3rem;
    cursor: pointer;
    transition: all var(--transicion-lenta);
    box-shadow: 4px 8px var(--rojo);
    overflow: hidden;
}

.contenido_principal .clases .clase h3 {
    margin-top: 1.25rem;
    font-size: 3rem;
    text-shadow: 0 0 5px var(--negro);
    position: relative;
    z-index: 200;
    transition: all var(--transicion-lenta);
    text-transform: uppercase;
}

.contenido_principal .clases .clase h4 {
    position: relative;
    z-index: 200;
    font-size: 3rem;
    text-transform: uppercase;
    opacity: 0%;
    transition: all var(--transicion-lenta);
    color: var(--rojo);
    text-decoration: underline;
}

.contenido_principal .clases .fondo-opaco {
    position: absolute;
    inset: 0;
    background-color: var(--negro-opaco);
    transition: all var(--transicion-lenta);
}

.contenido_principal .clases .clase .imagen_fondo_clase {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    border-radius: 0;
}

/* Nosotros */

.nosotros {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 22rem;
}

.nosotros h2 {
    font-size: 3rem;
    text-transform: uppercase;
    animation: neon 6s ease-in-out infinite;
}

.nosotros h3 {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 2rem;
}

.nosotros img {
    width: 5rem;
    height: fit-content;
}

/* Utils */
.no_scroll {
    height: 100vh;
    overflow-y: hidden;
}

.flex_col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#idContenedorDeOpacidad {
    transition: all ease-out var(--transicion-lenta);
}

.opacidad_activada {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    background-color: var(--negro-opaco);
}

/* Animaciones */
@keyframes banner {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes neon {
    0% {
        text-shadow: 0 8px 5px var(--rojo);
    }

    50% {
        text-shadow: 0 8px 5px var(--verde);
    }

    100% {
        text-shadow: 0 8px 5px var(--rojo);
    }
}

/* Medias */
@media (min-width: 56rem) {
    body {
        padding-inline: 5rem;
    }

    .icono_whatsapp {
        display: block;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 500;
        margin-bottom: 2rem;
        margin-right: 2rem;
        opacity: 0.4;
        width: 7rem;
        transition: all var(--transicion-normal);
    }

    .icono_whatsapp:hover {
        opacity: 0.9;
        transform: scale(1.1);
    }

    .inicio {
        height: calc(100vh - 20rem);
        width: 100vw;
        margin-left: -5rem;
    }

    .inicio .inicio_texto {
        gap: 3rem;
    }

    .inicio h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    .inicio p {
        font-size: 2rem;
    }

    .inicio .inicio_texto .redireccion_en_inicio a:hover {
        transform: scale(1.05);
        background-color: var(--rojo);
    }

    .no_scroll {
        height: auto;
        overflow: auto;
    }

    .opacidad_activada {
        display: none;
    }

    .contenido_principal .clases h2 {
        font-size: 4.25rem;
    }

    .contenido_principal .clases .clase {
        width: 50rem;
        padding-inline: 12rem;
    }

    .contenido_principal .clases .clase:hover {
        transform: scale(1.03);
    }
    .contenido_principal .clases .clase:hover img {
        opacity: 2%;
    }

    .contenido_principal .clases .clase:hover h3 {
        transform: translateY(-12rem);
    }

    .contenido_principal .clases .clase:hover h4 {
        opacity: 100%;
    }

    .nosotros {
        margin-top: 26rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .nosotros h2 {
        font-size: 4.25rem;
        width: 100%;
    }

    .nosotros h3 {
        margin: 0;
        font-size: 1.75rem;
    }
}
